{% extends 'base.html' %}

{% block title %}
	{% if type == 'challenge' %}
	Edit Challenge
	{% elif type == 'select' %}
	Select Question
	{% else %}
	Edit Question
	{% endif %}
{% endblock %}

{% block content %}
{% include 'layouts/navbar.html' %}

<div class="container">

  {% if alert %}
  <div class="alert alert-{{ alert.type }} mt-4" role="alert">
    {{ alert.message }}
  </div>
  {% endif %}

  <h2 class="display-6 my-4">
		{% if type == 'challenge' %}
    Edit Challenge 
		{% elif type == 'select' %}
    Select Question 
		{% else %}
    Edit Question 
		{% endif %}
  </h2>

  <div class="py-2 mb-4">
    <form action="/edit/{{ type }}/{{challenge.id}}{{question.id}}" method="POST">
			{% csrf_token %}

      {% if type == 'challenge' or type == 'question' %}
			<div class="form-floating mb-3">
				<input type="text" class="form-control" id="title" 
					name="{% if type == 'challenge' %}title{% else %}text{% endif %}" 
					value="{{challenge.title}}{{question.text}}"
				required>
				<label for="{% if type == 'challenge' %}title{% else %}text{% endif %}">
					{% if type == 'challenge' %} Challenge's {% else %} Question's {% endif %} title
				</label>
			</div>
      {% endif %}

			{% if type == 'select' %}
        {% for item in questions %}
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title mb-3">{{ item.text }}</h5> 
            <a href="{% url 'quiz:edit_question' item.id %}" class="btn btn-sm btn-danger">Delete</a>
            <a href="{% url 'quiz:edit_question' item.id %}" class="btn btn-sm btn-secondary">Edit</a>
          </div>
        </div>
        {% endfor %}
			{% endif %}

			{% if type == 'question' %}
			<div class="" id="questions-div">
				<div class="input-group mb-3">
					<span class="input-group-text" id="option1">1</span>
					<input type="text" class="form-control" name="option1" value="{{question.option_1}}" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="option2">2</span>
					<input type="text" class="form-control" name="option2" value="{{question.option_2}}" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="option3">3</span>
					<input type="text" class="form-control" name="option3" value="{{question.option_3}}" required>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="option4">4</span>
					<input type="text" class="form-control" name="option4" value="{{question.option_4}}" required>
				</div>
			</div>

			<div class="d-flex mb-4">
				<select name="right" id="right" class="form-select" required>
					<option value="0" class="" disabled >Select the right answer</option>
					<option value="1" {% if question.right == 1 %}selected{% endif %}>Option 1</option>
					<option value="2" {% if question.right == 2 %}selected{% endif %}>Option 2</option>
					<option value="3" {% if question.right == 3 %}selected{% endif %}>Option 3</option>
					<option value="4" {% if question.right == 4 %}selected{% endif %}>Option 4</option>
				</select>
			</div>
			{% endif %}

			<div class="d-flex justify-content-end">
				<a href="{% url 'quiz:my_challenges' %}" class="btn btn-outline-secondary me-2">Cancel</a>
				{% if type == 'challenge' %}
				<a href="{% url 'quiz:select_question' challenge.id %}" class="btn btn-info me-2">Questions</a>
				{% endif %}
				<button class="btn btn-success" type="submit">Update</button>
			</div>
		</form>
  </div>
</div>

{% endblock %}