{% extends 'base.html' %}

{% block title %}
	Select The Challenge
{% endblock %}

{% block content %}
{% include 'layouts/navbar.html' %}

<div class="container">
	{% if alert %}
  <div class="alert alert-{{ alert.type }} mt-4" role="alert">
    {{ alert.message }}
  </div>
  {% endif %}

  <h2 class="display-6 my-4">
    My Challenges
  </h2>

  {% if challenges %}
		{% for item in challenges %}
		<div class="card mb-4">
			<div class="card-body">
				<h5 class="card-title mb-3">{{ item.title }}</h5>
				<button href="{% url 'quiz:challenge' item.id %}" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
					Delete
				</button>
				<a href="{% url 'quiz:challenge' item.id %}" class="btn btn-sm btn-secondary">
					Edit
				</a>
				<a href="{% url 'quiz:scores' item.id %}" class="btn btn-sm btn-warning">
					Scores
				</a>
				<a href="{% url 'quiz:challenge' item.id %}" class="btn btn-sm btn-primary">
					Try this challenge
				</a>
				<a href="{% url 'quiz:new_question' item.id %}" class="btn btn-sm btn-success">
					Add questions
				</a>
			</div>
		</div>
		{% endfor %}
  {% else %}
    <h3>No challenges found.</h3>
  {% endif %}
</div>

{% endblock %}